@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #F5EBE0;
    font-family: 'VT323', monospace;
}

#navBar {
    width: 100vw;
    text-align: right;
    padding-top: 15px;
    padding-right: 15px;
}

.topIcon {
    width: 2%;
}

#sidebar {

    height: 100vh;
    width: 10vh;
    background-color: #5e548e;
    position: absolute;
}

h1 {
    color: #F5EBE0;
    font-size: 2.5rem;
    rotate: 270deg;
    position: absolute;
    top: 130px;
    left: -20px;
    z-index: 12;
}

.footerDiv {
    rotate: 270deg;
    position: absolute;
    left: -120px;
    bottom: 210px;
}

.footerDiv a {
    color: #F5EBE0;
    text-decoration: none;
    font-size: 1.7rem;

}

.footerDiv a:hover {
    border: #FFF 2px solid;
    padding: 8px;
    transition: .7s;
}

.image {
    height: 300px;
    width: 500px;
}

.left,
.right {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.projectContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;
}

h2 {
    font-size: 4rem;
    padding-top: 30px;
    padding-bottom: 30px;
}

p {
    font-size: 1.7rem;
}

@media screen and (max-width: 1280px) {
    .projectContainer {
        flex-direction: column;
    }
}

@media screen and (max-width: 920px) {
    .shifumi {
        height: 400px;
        width: 700px;
    }

    #sidebar {
        display: none;
    }

    .footerDiv {
        rotate: 270deg;
        position: absolute;
        left: -100px;
        bottom: 161px
    }

    .footerDiv a {
        color: #000;
        font-size: 1.5rem;
    }

}

@media screen and (max-width: 801px) {
    .shifumi {
        height: 300px;
        width: 600px;
    }

    h2 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 703px) {
    .shifumi {
        height: 300px;
        width: 500px;
    }

}

@media screen and (max-width: 607px) {
    .shifumi {
        height: 300px;
        width: 400px;
    }

    .footerDiv {
        rotate: none;
        top: 10px;
        left: 30%;
    }

    .footerDiv a {

        font-size: 1.2rem;
    }


}

@media screen and (max-width: 422px) {
    .footerDiv a {
        font-size: 1.2rem;
    }



}

@media screen and (max-width: 340px) {
    .footerDiv a {
        font-size: 1rem;
    }
}